@import "tailwindcss";


.scroll-thin {
  overflow: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

/* Chrome / Edge / Safari */
.scroll-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 999px;
}

.scroll-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.45);
}




.fade-in-enter-active,
.fade-in-leave-active {
  transition:
    opacity 150ms ease,
    transform 150ms ease;
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
  transform: scale(0.50);
}

.fade-in-enter-to,
.fade-in-leave-from {
  opacity: 1;
  transform: scale(1);
}